* {
    box-sizing: border-box;
}

body {
    background-color: #cdb4db;
    margin: 0px;
}

header {

    background: linear-gradient(rgba(216, 54, 216, 0.557), #be95c4);
    color: white;
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-size: larger;
    word-spacing: 20px;
}

nav {
    background-color: #f1e1fa;
    font-family: Arial;
    text-align: center;
}

nav a {
    padding: 14px 16px;
    color: purple;
    display: inline-block;
}

nav a:hover {
    background-color: #be95c4;
    color: white;
}

footer {
    background-color: #be95c4;
    color: #dbcae5;
    text-align: center;
    padding: 10px;
}

img {
    aspect-ratio: 1 / 1;
    width: 300px;
    /* 也可以換成任何你想要的寬度 */
    object-fit: cover;
    object-position: center;
}


.card {
    background-color: #feeafa;
    border-radius: 10px;
    margin: 30px 60px;
    padding: 10px 40px;
}

h2 {
    text-align: center;
    color: #8f19a2;
    word-spacing: 30px;
}

.me {
    display: flex;
    padding: 0px 40px;
}

.personal_1 {
    padding: 0px 40px 20px 40px;
}

.personal_2 {
    padding: 20px 0px 20px 40px;

}

.mail>a>img {
    width: 5%;
    height: auto;
}

.mylist {
    background-color: #d2add8;
    border-radius: 20px;
    padding: 50px;
    font-size: larger;
    line-height: 30px;
}


.allskill {
    padding: 0px 420px 15px;
}

.skill {
    background-color: aqua;
    width: 250px;
}

.skill-box {
    background-color: aquamarine;
}

.array {
    width: 1080px;
    display: flex;
}

.item exp-img {
    width: 100%;
}

.item {
    width: 500px;
    padding: 0px 20px;
}

b {
    font-size: large;
    color: #8f19a2;
}

.card>.title>h2 {
    text-align: center;
}

.txt {
    text-align: center;
}

.txt_1 {
    width: 300px;
}

.txt_1>p {
    font-weight: bold;
}

.txt>h3 {
    color: black;
}

.mail {
    padding: 20px 60px;
}


h3 {
    color: #8f19a2;
}

.call {
    display: flex;
}